# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints
.ipynb_checkpoints

# Distribution / packaging
.Python

# Directories
\raw_xrf_data
\annotated_xrf_data
\annotated_xrf_data\raw_cells\
\annotated_xrf_data\reject\
\annotated_xrf_data\accept\

# exception to the rule
!annotated_xrf_data\.gitkeep
!annotated_xrf_data\accept\.gitkeep
!annotated_xrf_data\reject\.gitkeep
!annotated_xrf_data\raw_cells\.gitkeep

# Images
*.tif
*.tiff

# data
*.h5
